.card {
    min-height: 200px;
    width: 30%;
    border: 5px solid #D3D3D3;
    border-radius: 5px;
    margin: 10px;
    background-color: #F5FFFA;
    opacity: .5;
}

.card:hover {
    background-color: #E6E6FA;
    cursor: pointer;
}