footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #C0C0C0;
    border-top: 5px solid #B0C4DE;
    color: #ffffff;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;

}

footer h5 {
    display: none;
}

h3.email,
h3.phone {
    margin: 5px 0px;
}


.footer-contributions {
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
    font-size: 1.25rem;
}

footer .info-second {
    font-size: 1rem;
}

footer .resume-button {
    background-color: #D3D3D3;
    color: #000000;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    text-decoration: underline;
}

.social-btn {
    width: 100%;
    font-size: 3rem;
    padding: 5px;
    color: #ffffff;
}

.icon {
    margin: 5px;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    width: 80%;
    margin: 5px;
    padding: 5px;
    font-size: 2rem;
}


footer .media {
    width: 100%;
}

footer .resume-button:hover {
    background-color: #F0F8FF;
}

@media screen and (min-width: 600px) {
    section.footer-contributions {
        width: 30%;
        order: 3;
     }
     footer .media {
        width: 30%;
        order: 1;
     }
     .footer-content {
        width: 30%;
        order: 2;
        font-size: .75rem;
    }
    footer h5 {
        display: block;
    }

    .icon-container {
       width: 100%;
    }
    footer .info-first {
        display: block;
    }
}
